:root {
  --orange-color: #da722c;
  --blue-color: #057ada;
  --white-color: #e8f7fb;
  --white-color: #e8f7fb;
  --dark-blue-color: #023047;
  --dark-blue-color: #e8f7fb;
  --dark-color: #070917;
  --perple-color: #6f7dfb;
}
